  table.blueTable {
    background-color: #343434;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
  }
  table.blueTable td, table.blueTable th {
    padding: 3px 2px;
  }
  table.blueTable tbody td {
    font-size: 20px;
  }
  table.blueTable tfoot td {
    font-size: 14px;
  }
  table.blueTable tfoot .links {
    text-align: right;
  }
  table.blueTable tfoot .links a{
    display: inline-block;
    background: #1C6EA4;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
  }
  th, td {
    border-bottom: 1px solid #ffffff;
  }
  html, body {
    
    background-color: #343434;
    color:white;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 0px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: white;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}
img {
  border-radius: 50%;
}